# .dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
hms_env/
.git
.gitignore
.vscode/
.idea/
*.db.sqlite3* # Nếu bạn không muốn file DB cục bộ bị copy vào image, 
# chúng ta sẽ dùng volume để quản lý DB trong Docker Compose.
*.sqlite3*-journal
local_settings.py
.env
docker-compose.yml 
# Không copy file docker-compose vào image
Dockerfile 
# Không copy chính Dockerfile vào image
README.md
# Bất kỳ file/thư mục nào khác không cần thiết cho việc chạy ứng dụng trong container